#header {
    background-color: rgb(73, 161, 237);
    background-image: url(../img/pattern.png);
    background-size: 400px;
    
}

#image-header{
    width: 400px;
}

h1{
    font-size: 50px;
    margin-bottom: 0;
}

.grey{
    color: rgb(118, 115, 115);
    margin: auto;
}
#grey1{
    color: rgb(118, 115, 115);
    font-size: 13px;
    margin top: 0px;
    margin bottom: 50px;
    
}

.pxphoto{
    height: 400px;
}

.namephoto{
    font-size: 12px;
}

#blue{
    color: rgb(0, 115, 255);
}


.yellow{
    background-color: yellow;
}

#theadtab{
    background-color: rgb(47, 189, 232);
    color: white;
    font position: 
}

.padding{
    padding-inline-start: 11px;
}

.tabblue{
    background-color: rgb(189, 228, 245);
}

.widthtab{
    width: 400px;
}

footer{
    background-image: url(../img/monitor.jpg);
    background-repeat: no-repeat;
    
}


.loremfinal{
    color: white;
    font-size: 30px;
}


#img2{
    background-image: url(../img/graph.jpg);
    background-repeat: no-repeat;
    
}