
#header {
    background-color: rgba(115, 115, 255, 0.713);
    background-image: url(img/pattern.png);
}

#image-header{
    width: 200px
}



#blue{
    color: blue;
}


#yellow{
    background-color: yellow;
}